.parent{
    margin-top: 10px;
    background-color: transparent;
    display: grid;    
    /* border: 5px solid black; */
    grid-template-columns: 30% 70% repeat(2,2fr);
}

.child1{
    background-color: transparent;
    height: 600px;
    /* border: 4px solid black; */
    margin: 10px;
    display: grid;
    overflow-y: auto;
}
.child2{
    display: grid;
    height:200px;
    width:auto;
    background-color: blanchedalmond;
    margin-top: 5px;
    border-radius: 20px;
    margin-left: 10px;
    margin-right: 10px;
    scroll-behavior: smooth; 
}
.h{
   
        font-weight: 700;
        font-size: 1.3vw;
        color: #060606;
        margin-left: 20px;
}
.avatar{
    height:200px;
    width:100%;
    border-radius: 1em;

}
